
body{
    margin: 0;
}
header{
    height: 12vh;
    background-color: red;
    display: flex;

}
.gameLogo{
    height: 12vh;
    width: 15%;
    background-color: lime;
    position: relative;

}
.play{
    height: 11vh;
    width:20%;
    background-color: lime;
    position: relative;

}
.tries{
    height: 11vh;
    width:20%;
    background-color: lime;
    position: relative;

}
.accuracy{
    height: 11vh;
    width:20%;
    background-color: lime;
    position: relative;

}
header div{
    height: 100%;
    margin: 0 auto;
    border: solid black 1px;
    justify-content: space-between;
}
main{
    height: 84vh;
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameArea{
    height: 85%;
    width: 80%;
    background-color: pink;

}
.cardContainer{
    height: 100%;
    width: 99%;
    background-color: #888888;
    margin: auto;
}
footer{
    display: flex;
    background-color: blue;
    height: 4vh;
    justify-content: space-between;
}
.reset{
    height: 100%;
    width: 10%;
    background-color: whitesmoke;
}
.about{
    height: 100%;
    width: 10%;
    background-color: whitesmoke;
}







/**********************************
html{
    font-size: 3vmin;
}

.sideBarLeft{
    height: 100vh;
    background-color: blue;
    display:inline-flex;

}
.gameInfoArea{
    height:50vh;
    background-color: #2e6da4;
}
.stat1{
    height: 5vh;
    background-color: whitesmoke;
    border: solid 1px;
}
.stat2{
    height: 5vh;
    background-color: whitesmoke;
    border: solid 1px;
}
.stat3{
    height: 5vh;
    background-color: whitesmoke;
    border: solid 1px;
}
.stat4{
    height: 5vh;
    background-color: whitesmoke;
    border: solid 1px;
}
.stat5{
    height: 5vh;
    background-color: whitesmoke;
    border: solid 1px;
}
.resetGame{
    height: 8vh;
    background-color: yellow;
    border: solid 1px;
}
.mainCopy{
    background-color: darkolivegreen;

}
.gameArea{
    background-color: #888888;

}
.cardContainer{
    background-color: pink;

}
.cardRow1{
    background-color: whitesmoke;
    border: solid 1px;
}
.cardRow2{
    background-color: whitesmoke;
    border: solid 1px;
}
.cardRow3{
    background-color: whitesmoke;
    border: solid 1px;
}
