
body{
    margin: 0;
    background-image:   url("images/apex-background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;

}
header{
    height: 75px;
    background-color: #0c0a0abd;
    display: flex;
    align-items: flex-start;
    font-size: 1.4rem;
    position: relative;
    justify-content: flex-start;
}
.controls{
    height: 100%;
    width: 461px;
    position: absolute;
    font-size: 2vmin;
    color: whitesmoke;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */

    /* display: inline; */
    left: 15%;


}
.reset, .mute-fx, .mute-bgm{
    height: 100%;
    width: 150px;
    background-color: #ca1d29;
    transform: skewX(45deg);
    display: inline-block;
    position: relative;

}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 19%;
    position: relative;
    left: 65%;
}
.game-logo{
    height: 115px;
    width: 105px;
    position: absolute;
    background-image: url(images/ApexCornerIcon.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.games-played, .attempts, .accuracy{
    height: 33%;
    width: 33%;
    position: relative;
    left: 25%;
    margin: 0 1px;
    font-size: 1rem;
    color: whitesmoke;

}
@media screen and (max-width: 955px){
    .header{
        height: 50px;
    }
    .reset, .mute-fx, .mute-bgm{
        width: 138px; /*90px*/
    }
    .stats{
        height: 100%;
        left: 85%;
        display: unset;
    }
}
@media screen and (max-width: 9)
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.value{
    border-top: 1px solid black;
}
main{
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}
#game-area{
    height: 86%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{
    height: 25%;
    width: 16%;
    position: relative;
    perspective: 600px
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
}
.card .front, .card.revealed .back {
    transform: rotateY(180deg);
}
.card.revealed .front, .card .back {
    transform: rotateY(0deg);
}
.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.25s;
    backface-visibility: hidden;
}







